.full-page-container {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;

    @media screen and (max-width: 1280px) {
      scroll-snap-type: y proximity;
      
    }
  }
  
  .scroll-container {
    display: flex;
    flex-direction: column;
  }
  
  .snap-section {
    scroll-snap-align: start;
  }
  
  .project-section {
    height: auto; /* Allow the project section to be taller than 100vh */
  }