@use './variables.scss' as *;

.vl {
  grid-column: 2;
  border-left: 2px solid $c-black;
  height: 60%;
  justify-self: center;
  align-self: center;

  @media screen and (max-width: 1280px) {
    grid-row: 2; // Ensure vl is the second row
    grid-column: 1;
    border-bottom: 2px solid $c-black;
    border-left: none;
    width: 80%; // Adjust width for horizontal line
    height: 2px; // Adjust height for horizontal line
    margin: 20px 0; // Add margin for spacing
  }
}
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: flex-end; /* Aligns the toggle button to the right */
  padding: 1rem 2rem 0rem 1rem; /* Adjust padding if necessary */
}

.navbar-toggle {
  background-color: $c-black;
  border-radius: 15px;
  padding: 16px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: auto; /* Pushes the button to the right */
}

.navbar-toggle.opened {
  border-bottom-right-radius: 0px;
  z-index: 1100;
}

.navbar-toggle img {
  width: 24px;
  height: 24px;
}

/* Dropdown content */
.dropdown-content {
  position: absolute;
  text-align: end;
  top: 100%;
  right: 0;
  width: 10%;
  background-color: $c-white;
  z-index: 1100;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin-right: 2rem;
  border-radius: 10px 0 10px 10px;
}

.dropdown-content a {
  color: black !important;
  right: 0; /* Aligns the dropdown to the right */
  padding: 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

.dropdown-content a:hover {
  background-color: lightgray;
}

/* Fullscreen overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.nav-link {
  text-decoration: none;
  color: $c-black;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s;

  &:hover {
    color: darkgray; // Replace with your hover color variable
  }
}