@use './variables.scss' as *;

.vl {
  grid-column: 2;
  border-left: 2px solid $c2;
  height: 60%;
  justify-self: center;
  align-self: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $c2; // Replace with your variable
  color: $color-text; // Replace with your variable
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s;

  &:hover {
    color: $c4; // Replace with your hover color variable
  }
}