#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}