@use 'variables.scss' as *;

#app {
  
  font-weight: normal;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $tnt-light-grey;
}