$c-white: #ffffff;
$c-white-soft: #f8f8f8;
$c-white-mute: #f2f2f2;

$c-black: #181818;
$c-black-soft: #222222;
$c-black-mute: #282828;

$c-indigo: #2c3e50;
$c-black-bean: #3B0D11;
$c-airforce-blue: #658E9C;
$c-ultraviolet: #4D5382;
$c-prussian-blue: #022F40;

$c5: #ECDFCC;
$c4: #C5D8D1;
$c3: #697565;
$c2: #3C3D37;
$c1: #181C14;

$c-text-light-1: #022F40;
$c-text-light-2: #011D28;
$c-text-dark-1: $c-white;
$c-text-dark-2: #E5D1D0;

$color-background: $c-white;
$color-background-soft: $c-black-soft;
$color-background-mute: $c-black-mute;

$color-heading: $c-text-dark-1;
$color-text: $c-black;

$section-gap: 160px;