// Define color variables
$c-white: #ffffff;
$c-white-soft: #f8f8f8;
$c-white-mute: #f2f2f2;

$c-black: #181818;
$c-black-soft: #222222;
$c-black-mute: #282828;

$c-indigo: #2c3e50;
$c-black-bean: #3B0D11;
$c-airforce-blue: #658E9C;
$c-ultraviolet: #4D5382;
$c-prussian-blue: #022F40;

$c5: #ECDFCC;
$c4: #C5D8D1;
$c3: #697565;
$c2: #3C3D37;

// Text color variables for light and dark modes
$c-text-light-1: #022F40; // Primary text color for light mode
$c-text-light-2: #011D28; // Secondary text for light mode
$c-text-dark-1: $c-white; // Primary text color for dark mode
$c-text-dark-2: #E5D1D0; // Secondary text for dark mode

// Define semantic color variables for the project
// These variables are used for specific parts of the layout, like background and text
$color-background: #181C14; // Set dark background color
$color-background-soft: $c-black-soft; // Set a softer background for contrast
$color-background-mute: $c-black-mute; // Muted black for dark mode backgrounds

$color-heading: $c-text-dark-1; // Light text color for headings in dark mode
$color-text: $c5; // Light text color for body text in dark mode

$section-gap: 160px; // Gap between sections (increased space)}

// Global reset and styles to ensure consistency across the page
*,
*::before,
*::after {
  // Apply consistent box-sizing for all elements to include padding and border in total width/height
  box-sizing: border-box;
  
  // Remove default margins for all elements
  margin: 0;

  // Set a normal font weight for all elements
  font-weight: normal;
}

// Style for the body, applying the colors defined above
body {
  // Ensure the body takes up the full height of the viewport
  min-height: 100vh;
  
  // Set the text color and background based on the variables
  color: $color-text;
  background: $color-background;
  
  // Smooth transition for color and background color changes (for dark/light mode toggle)
  transition: color 0.5s, background-color 0.5s;
  
  // Set line height for readability
  line-height: 1.6;

  // Use a modern sans-serif font stack, starting with 'Inter' as the primary font
  font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;

  // Set the base font size for readability
  font-size: 15px;

  // Improve text rendering for better legibility
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; // For better font smoothing in WebKit browsers
  -moz-osx-font-smoothing: grayscale; // For better font smoothing on macOS
}
