#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

.pfp {
  border-radius: 50%;
  height: 15rem;
  padding: 25px;
}

.page {
  height: 100vh; /* Full viewport height */
  display: flex; /* Enable Flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Center text alignment */
  font-family: 'Courier New', Courier, monospace;
}

.skill {
  width: 150px;
}

.title {
  font-size: 3rem; /* Adjust font size as needed */
  color: #4D5382;
  text-align: center;    /* Center-align the title text */
}
