@use '../variables.scss' as *;

#about-page {
  display: grid;
  grid-template-columns: 1.25fr 0.1fr 1fr;

  @media screen and (max-width: 992px) {
    grid-template-columns: 1fr; // Single-column layout for smaller screens
    grid-template-rows: auto auto auto; // Adjust rows for each section
    border: 3px red;
  }
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  height: 60%;
}

#about-section {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#skills-section {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.bio {
  font-size: 1.2rem;
  text-align: center;
}

.pfp {
  border-radius: 50%;
  height: 15rem;
  margin: 25px;
  border: 4px solid $c2;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: $c-white;
}

.skill {
  width: 150px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid $c2; /* Border color */
  border-radius: 20px; /* Rounded border */
  height: 100px; /* Outer box height */
  width: 180px;
  margin-bottom: 15px; /* Space between items */
  background-color: $c-white; /* Transparent gap between border and inner container */
  padding: 5px; /* Creates a consistent inner margin */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px; /* Slightly smaller radius to fit within the item */
  width: 100%; /* Fill the available width */
}

