@use '../variables.scss' as *;

#intro {
  padding-bottom: 15px;
  font-size: x-large;
}

#name {
  font-size: 125px;
  color: $c-black;
  font-weight: 300;
}

#after {
  font-style: italic;
}

.tnt {
  color: #652c1d;
  font-size: 125px;
  font-weight: 700;
  padding: 15px;
}

.gradient-background {
  background: 
    repeating-linear-gradient(
      90deg,           /* Vertical stripes */
      #e24422,
      #5d1e0e 12.5%, 
    ),
    repeating-linear-gradient(
      2deg, 
      #e24422, #e24422 33.33%,
      $c-white 33.33%, $c-white 66.66%,
      #e24422 66.66%
    );
  background-blend-mode: overlay;
}